#table {
  width: 80%;
  overflow-x: auto;
  margin: auto;
}
#table th {
  background-color: #4caf50;
  color: white;
  width: fit-content;
  user-select: none;
}
#table td,
#table th {
  border: 1px solid #ddd;
  padding: 1px;
  padding-left: 8px;
  padding-right: 8px;
  width: fit-content;
}
#table select {
  width: 80px;
  height: 35px;
}

.ui.dropdown.search {
  /* https://stackoverflow.com/questions/42750197/how-to-set-the-width-of-semantic-ui-dropdown */
  min-width: 0px;
}

.changedText {
  background-color: yellow;
}

#problem,
#answer {
  /* https://www.bugbugnow.net/2020/02/font-family-mono.html */
  font-family: "Noto Sans Mono CJK JP", "Source Han Code JP", "Ricty Diminished", "Ricty",
    "Myrica M", "MyricaM M", "Rounded M+ 1m regular", "Rounded M+ 2m regular",
    "Rounded Mgen+ 1m regular", "Rounded Mgen+ 2m regular", "Migu 1M", "Migu 2M", "M+ 1m", "M+ 2m",
    monospace;
}

.footer-clean {
  padding: 50px 0;
  background-color: #fff;
  color: #4b4c4d;
}
.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}
.footer-clean .item {
  text-align: center;
}

